In [2]:
import pandas as pd

In [3]:
i=pd.read_csv('pangolin_0309_bs.csv')
i

,taxon,lineage,conflict,ambiguity_score,scorpio_call,scorpio_support,scorpio_conflict,version,pangolin_version,pangoLEARN_version,pango_version,status,note
0,08183012-c,B,0.0,0.257122,NaN,NaN,NaN,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,NaN
1,08243026-c,B.1.617.2,0.0,0.573462,Delta (B.1.617.2-like),0.4615,0.1538,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,scorpio call: Alt alleles 6; Ref alleles 2; Am...
2,08243036-c,B.1.617.2,0.0,0.795479,Delta (B.1.617.2-like),0.5385,0.1538,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,scorpio call: Alt alleles 7; Ref alleles 2; Am...
3,08243038-c,B.1.617.2,0.0,0.719802,Delta (B.1.617.2-like),0.3846,0.1538,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,scorpio call: Alt alleles 5; Ref alleles 2; Am...
4,08243039-c,B,0.0,0.495546,NaN,NaN,NaN,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,08243152-c,B.1.617.2,0.0,0.876929,Delta (B.1.617.2-like),0.7692,0.0769,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,scorpio call: Alt alleles 10; Ref alleles 1; A...
92,08243153-c,B.1.617.2,0.0,0.629446,Delta (B.1.617.2-like),0.4615,0.1538,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,scorpio call: Alt alleles 6; Ref alleles 2; Am...
93,PositiveControl-p1-9-03-2021,B.57,0.0,0.603577,NaN,NaN,NaN,PLEARN-v1.2.56,3.1.11,2021-08-09,v1.2.56,passed_qc,NaN
94,08243037-c,None,NaN,NaN,NaN,NaN,NaN,PANGO-v1.2.56,3.1.11,2021-08-09,v1.2.56,fail,N_content:0.59
95,NTC-p1-9-03-2021,None,NaN,NaN,NaN,NaN,NaN,PANGO-v1.2.56,3.1.11,2021-08-09,v1.2.56,fail,N_content:0.64

In [49]:
nf=pd.read_csv('pangolin_0309_nf.csv')

In [50]:
s=[str(barcode) for barcode in nf['sample']]

In [51]:
nf['sample']=s

In [52]:
nf=pd.concat([nf[nf['sample'].str.endswith('_c').tolist()],nf[nf['sample'].str.endswith('2021').tolist()]])

In [69]:
i['taxon']=i['taxon'].str.replace('-','_')

In [71]:
nf['sample']=nf['sample'].str.replace('-','_')

Check on samples

In [72]:
len(i)

96

In [73]:
set(i.taxon).difference(set(nf['sample']))

{'08243117_c'}

In [74]:
len(i)-len(nf)

1

### Merging two tables

In [81]:
out=i.merge(nf,right_on='sample', left_on='taxon')[['taxon_x','lineage_x','lineage_y']]

In [82]:
out

                         taxon_x  lineage_x  lineage_y
0                     08183012_c          B       None
1                     08243026_c  B.1.617.2  B.1.617.2
2                     08243036_c  B.1.617.2  B.1.617.2
3                     08243038_c  B.1.617.2  B.1.617.2
4                     08243039_c          B  B.1.617.2
..                           ...        ...        ...
90                    08243152_c  B.1.617.2  B.1.617.2
91                    08243153_c  B.1.617.2  B.1.617.2
92  PositiveControl_p1_9_03_2021       B.57          B
93                    08243037_c       None       None
94              NTC_p1_9_03_2021       None       None

[95 rows x 3 columns]

In [83]:
out.columns = ['sample','bs','nf']

In [88]:
out['bs']=out['bs'].str.replace('AY.12','B.1.617.2')
out['bs']=out['bs'].str.replace('AY.9','B.1.617.2')
out['bs']=out['bs'].str.replace('AY.4','B.1.617.2')

In [89]:
out[out.bs=='None']

              sample    bs         nf
14        08243049_c  None  B.1.617.2
31        08243066_c  None  B.1.617.2
46        08243081_c  None  B.1.617.2
55        08243090_c  None  B.1.617.2
73        08243123_c  None  B.1.617.2
93        08243037_c  None       None
94  NTC_p1_9_03_2021  None       None

In [90]:
out[out.nf=='None']

              sample         bs    nf
0         08183012_c          B  None
6         08243041_c  B.1.617.2  None
10        08243045_c          B  None
11        08243046_c          A  None
17        08243052_c  B.1.617.2  None
93        08243037_c       None  None
94  NTC_p1_9_03_2021       None  None

#### Proportion of matching results

In [91]:
len(out[out.bs == out.nf])/len(out)

0.8736842105263158

#### Discrepancy

In [92]:
divergent = out[out.bs != out.nf]
divergent

                          sample         bs         nf
0                     08183012_c          B       None
4                     08243039_c          B  B.1.617.2
6                     08243041_c  B.1.617.2       None
10                    08243045_c          B       None
11                    08243046_c          A       None
14                    08243049_c       None  B.1.617.2
17                    08243052_c  B.1.617.2       None
31                    08243066_c       None  B.1.617.2
46                    08243081_c       None  B.1.617.2
55                    08243090_c       None  B.1.617.2
73                    08243123_c       None  B.1.617.2
92  PositiveControl_p1_9_03_2021       B.57          B

In [93]:
counter = 0
for row in divergent.iterrows():
    if row[1].bs[:3] == row[1].nf[:3]:
        counter+=1

In [94]:
print(len(divergent), 'samples have non-matching lineages:')
print('- Nf-core did not assign lineage to',len(divergent[divergent['nf']=='None']),'samples, of which', len(divergent[divergent['nf']=='None'][divergent['bs']=='A']) + len(divergent[divergent['nf']=='None'][divergent['bs']=='B']), 'have a generic lineage assigned in basespace')
print('-',counter, 'samples have partial identity')

12 samples have non-matching lineages:
- Nf-core did not assign lineage to 5 samples, of which 3 have a generic lineage assigned in basespace
- 0 samples have partial identity

<ipython-input-94-bbd1781bb9ef>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print('- Nf-core did not assign lineage to',len(divergent[divergent['nf']=='None']),'samples, of which', len(divergent[divergent['nf']=='None'][divergent['bs']=='A']) + len(divergent[divergent['nf']=='None'][divergent['bs']=='B']), 'have a generic lineage assigned in basespace')

### Merging with coverage info

In [103]:
cov1=pd.read_csv('coverage_0309_bs.tsv',sep='\t')
cov2=pd.read_csv('coverage_0309_nf.tsv',sep='\t')

In [104]:
cov1['Sample']=cov1['Sample'].str.replace('-','_')

In [105]:
cov2['Sample']=cov2['Sample'].str.replace('-','_')

In [106]:
cov_diff = cov2.merge(cov1,left_on='Sample',right_on='Sample')
cov_diff

,Sample,Spike_median_coverage_x,Spike_min_coverage_x,Spike_max_coverage_x,RBD_median_coverage_x,RBD_min_coverage_x,RBD_max_coverage_x,Spike_median_coverage_y,Spike_min_coverage_y,Spike_max_coverage_y,RBD_median_coverage_y,RBD_min_coverage_y,RBD_max_coverage_y
0,08183012_c,0,0,13944,6972.0,0,13944,1089.5,0,6403,1558.0,0,2685
1,08243026_c,69,0,21246,10623.0,0,21246,2453.0,0,8321,2772.0,0,4502
2,08243036_c,2707,10,12457,6233.5,10,12457,2598.5,0,6197,2245.0,2,3821
3,08243037_c,0,0,19016,9508.0,0,19016,832.5,0,7548,908.0,0,3097
4,08243038_c,1059,2,17505,8753.5,2,17505,2743.0,0,7353,2818.0,0,4647
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,08243151_c,262,0,34214,17107.0,0,34214,2543.0,0,9943,3352.0,0,5127
91,08243152_c,5216,8,19968,9988.0,8,19968,3236.0,0,7737,2832.0,3,4945
92,08243153_c,210,0,28330,14165.0,0,28330,1541.0,0,8999,2825.0,0,4207
93,NTC_p1_9_03_2021,0,0,65535,32767.5,0,65535,4026.0,0,16413,4443.0,0,7089
94,PositiveControl_p1_9_03_2021,130,0,50095,25047.5,0,50095,1846.0,0,12464,3576.5,0,5434

In [117]:
cov_diff['rbd'] = cov_diff.RBD_median_coverage_x - cov_diff.RBD_median_coverage_y

In [118]:
cov_diff['spike'] = cov_diff.Spike_median_coverage_x - cov_diff.Spike_median_coverage_y

In [119]:
cov_diff.rbd.mean()

5528.5

In [120]:
cov_diff.spike.mean()

874.5263157894736

#### Checking on coverage of unassigned lineage (basespace)

In [112]:
i_qual=cov1.merge(i,left_on='Sample',right_on='taxon',how='outer')
i_qual[i_qual.lineage=='None'][['taxon','Spike_min_coverage','RBD_min_coverage']]

               taxon  Spike_min_coverage  RBD_min_coverage
3         08243037_c                   0                 0
15        08243049_c                   0                 6
32        08243066_c                   0                 1
47        08243081_c                   0                 4
56        08243090_c                   0                 2
75        08243123_c                   0                 4
94  NTC_p1_9_03_2021                   0                 0

#### Checking on coverage of unassigned lineage (nfcore)

In [141]:
nf_qual=cov2.merge(nf,left_on='Sample',right_on='sample',how='outer')
nf_qual[nf_qual.lineage=='None'][['sample','Spike_min_coverage','RBD_min_coverage','Spike_median_coverage','RBD_median_coverage']]

,sample,Spike_min_coverage,RBD_min_coverage,Spike_median_coverage,RBD_median_coverage
0,08183012_c,0,0,0,6972.0
6,08243037_c,0,0,0,9508.0
14,08243041_c,0,0,27,10924.0
22,08243045_c,0,0,9,7756.5
24,08243046_c,0,0,0,2141.0
36,08243052_c,0,0,7,9421.0
166,NTC_p1_9_03_2021,0,0,0,32767.5

In [145]:
nf_div = divergent.merge(nf_qual,left_on='sample',right_on='sample',how='inner')[['sample','Spike_median_coverage','RBD_median_coverage','Spike_min_coverage']]

In [149]:
bs_div = divergent.merge(i_qual,left_on='sample',right_on='taxon',how='inner')[['sample','Spike_median_coverage','RBD_median_coverage','Spike_min_coverage']]

In [151]:
bs_div.merge(nf_div,on='sample')

,sample,Spike_median_coverage_x,RBD_median_coverage_x,Spike_min_coverage_x,Spike_median_coverage_y,RBD_median_coverage_y,Spike_min_coverage_y
0,08183012_c,1089.5,1558.0,0,0,6972.0,0
1,08243039_c,1498.0,1978.0,0,77,17788.5,0
2,08243041_c,819.0,1542.0,0,27,10924.0,0
3,08243045_c,563.0,1118.0,0,9,7756.5,0
4,08243046_c,796.5,963.5,0,0,2141.0,0
5,08243049_c,2860.0,2233.0,0,5284,6549.5,82
6,08243052_c,1834.0,2304.0,0,7,9421.0,0
7,08243066_c,2611.0,1695.0,0,2619,8571.5,27
8,08243081_c,2919.0,2337.0,0,4198,6686.0,41
9,08243090_c,2893.0,2544.0,0,3627,7443.5,47
10,08243123_c,2272.0,2416.0,0,2068,5509.0,74
11,PositiveControl_p1_9_03_2021,1846.0,3576.5,0,130,25047.5,0