In [1]:
import pandas as pd

In [169]:
i=pd.read_csv('pangolin_bs.csv')
i

,Taxon,Lineage,Conflict,Version,Status,Scorpio Call,Note,% of non-N bases,Median Coverage
0,7213092,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 12; Ref alleles 1; A...,98.90%,2791(coverage)(amplicons)
1,7243129,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 10; Ref alleles 1; A...,98.11%,654(coverage)(amplicons)
2,7243130,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 7; Ref alleles 2; Am...,91.30%,368(coverage)(amplicons)
3,7243131,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 12; Ref alleles 1; A...,99.73%,3689(coverage)(amplicons)
4,7243132,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 11; Ref alleles 1; A...,99.67%,2286(coverage)(amplicons)
...,...,...,...,...,...,...,...,...,...
763,U3222,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 12; Ref alleles 1; A...,99.73%,3807(coverage)(amplicons)
764,U3223,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 10; Ref alleles 1; A...,98.93%,2369(coverage)(amplicons)
765,U3224,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 12; Ref alleles 1; A...,99.73%,3516(coverage)(amplicons)
766,U3225,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 12; Ref alleles 1; A...,99.75%,3488(coverage)(amplicons)
767,U3226,B.1.617.2,0.0,07/28/2021v03/01/2008 00:00:00,passed_qc,Delta (B.1.617.2-like),scorpio call: Alt alleles 12; Ref alleles 1; A...,99.74%,3648(coverage)(amplicons)

In [74]:
nf1=pd.read_csv('pangolin_IFO.csv')
nf2= pd.read_csv('pangolin_spall.csv')

In [93]:
s=[str(barcode) for barcode in nf1['sample']]

In [94]:
nf1['sample']=s

In [95]:
nf=pd.concat([nf1,nf2]).reset_index()

Check on samples

In [97]:
set(i.Taxon).difference(set(nf['sample']))

{'7283026',
 'NTC-p1-7-26-2021',
 'NTC-p1-7-29-2021',
 'NTC-p2-7-26-2021',
 'NTC-p2-7-29-2021',
 'NTC-p3-7-26-2021',
 'NTC-p3-7-29-2021',
 'NTC-p4-7-29-2021',
 'NTC-pMalta-7-29-2021',
 'PositiveControl-p1-7-26-2021',
 'PositiveControl-p1-7-29-2021',
 'PositiveControl-p2-7-26-2021',
 'PositiveControl-p2-7-29-2021',
 'PositiveControl-p3-7-26-2021',
 'PositiveControl-p3-7-29-2021',
 'PositiveControl-p4-7-29-2021',
 'PositiveControl-pMalta-7-29-2021',
 'U3112'}

In [98]:
len(i)-len(nf)

18

### Merging two tables

In [109]:
out=i.merge(nf,right_on='sample', left_on='Taxon')[['Taxon','Lineage','lineage']]

In [111]:
out.columns = ['sample','bs','nf']

In [113]:
out[out.bs=='None']

    sample    bs    nf
573  U3048  None  None
603  U3078  None  None
607  U3082  None  None
614  U3089  None  None
615  U3090  None  None
617  U3092  None  None
625  U3100  None  None
631  U3107  None  None
635  U3111  None  None
636  U3113  None  None
637  U3114  None  None
639  U3116  None  None
644  U3121  None  None
650  U3127  None  None

In [114]:
out[out.nf=='None']

      sample         bs    nf
20   7243148        B.1  None
22   7243150          A  None
49   7243179  B.1.617.2  None
71   7243204          B  None
79   7243214          A  None
93   7243232    B.1.575  None
96   7243235  B.1.617.2  None
145  7293001        B.1  None
147  7293003    B.1.1.7  None
149  7293005          A  None
162  7293084  B.1.617.2  None
164  7293086          A  None
169  7293091        B.1  None
175  7293097          B  None
176  7293098    B.1.1.7  None
179  7293101        B.1  None
191  7293113        B.1  None
197  7293119          A  None
203  7293125  B.1.617.2  None
214  7293137        B.1  None
233  7293156        B.1  None
528    U3003  B.1.617.2  None
573    U3048       None  None
577    U3052          A  None
581    U3056  B.1.617.2  None
589    U3064          A  None
603    U3078       None  None
607    U3082       None  None
613    U3088  B.1.617.2  None
614    U3089       None  None
615    U3090       None  None
617    U3092       None  None
621    U3096          A  None
623    U3098          A  None
625    U3100       None  None
628    U3104  B.1.617.2  None
631    U3107       None  None
634    U3110  B.1.617.2  None
635    U3111       None  None
636    U3113       None  None
637    U3114       None  None
639    U3116       None  None
640    U3117        B.1  None
644    U3121       None  None
650    U3127       None  None

#### Proportion of matching results

In [115]:
len(out[out.bs == out.nf])/len(out)

0.936

#### Discrepancy

In [117]:
divergent = out[out.bs != out.nf]
divergent

      sample         bs         nf
20   7243148        B.1       None
22   7243150          A       None
25   7243153    B.1.575  B.1.617.2
31   7243159    B.1.575  B.1.617.2
35   7243163    B.1.575  B.1.617.2
37   7243165    B.1.575  B.1.617.2
49   7243179  B.1.617.2       None
55   7243186    B.1.575  B.1.617.2
67   7243200        B.1    B.1.620
71   7243204          B       None
79   7243214          A       None
83   7243219       AY.3  B.1.617.2
93   7243232    B.1.575       None
96   7243235  B.1.617.2       None
145  7293001        B.1       None
147  7293003    B.1.1.7       None
149  7293005          A       None
162  7293084  B.1.617.2       None
164  7293086          A       None
169  7293091        B.1       None
175  7293097          B       None
176  7293098    B.1.1.7       None
179  7293101        B.1       None
191  7293113        B.1       None
197  7293119          A       None
203  7293125  B.1.617.2       None
214  7293137        B.1       None
233  7293156        B.1       None
403  7293328        P.1      P.1.2
428  7293353        P.1      P.1.2
528    U3003  B.1.617.2       None
541    U3016        P.1      P.1.2
576    U3051        B.1  B.1.617.2
577    U3052          A       None
581    U3056  B.1.617.2       None
586    U3061    B.1.575  B.1.617.2
589    U3064          A       None
602    U3077        P.1      P.1.2
613    U3088  B.1.617.2       None
621    U3096          A       None
623    U3098          A       None
624    U3099    B.1.575  B.1.617.2
627    U3102    B.1.1.7      B.1.1
628    U3104  B.1.617.2       None
634    U3110  B.1.617.2       None
640    U3117        B.1       None
645    U3122    B.1.575  B.1.617.2
715    U3192        P.1      P.1.2

Nf-core did not assign lineage to 31 samples, of which, 11 have a generic lineage assigned in basespace

<ipython-input-131-de434234b2c6>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print('Nf-core did not assign lineage to',len(divergent[divergent['nf']=='None']),'samples, of which,', len(divergent[divergent['nf']=='None'][divergent['bs']=='A']) + len(divergent[divergent['nf']=='None'][divergent['bs']=='B']), 'have a generic lineage assigned in basespace' )

In [140]:
counter = 0
for row in divergent.iterrows():
    if row[1].bs[:3] == row[1].nf[:3]:
        counter+=1

In [151]:
print(len(divergent), 'samples have non-matching lineages:')
print('- Nf-core did not assign lineage to',len(divergent[divergent['nf']=='None']),'samples, of which', len(divergent[divergent['nf']=='None'][divergent['bs']=='A']) + len(divergent[divergent['nf']=='None'][divergent['bs']=='B']), 'have a generic lineage assigned in basespace')
print('-',counter, 'samples have partial identity')

48 samples have non-matching lineages:
- Nf-core did not assign lineage to 31 samples, of which 11 have a generic lineage assigned in basespace
- 16 samples have partial identity

<ipython-input-151-bbd1781bb9ef>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print('- Nf-core did not assign lineage to',len(divergent[divergent['nf']=='None']),'samples, of which', len(divergent[divergent['nf']=='None'][divergent['bs']=='A']) + len(divergent[divergent['nf']=='None'][divergent['bs']=='B']), 'have a generic lineage assigned in basespace')

### Merging with coverage info

In [158]:
cov1=pd.read_csv('coverage_bs.tsv',sep='\t')
cov2=pd.read_csv('coverage_ifo.csv',sep='\t')
cov3=pd.read_csv('coverage_spall.tsv',sep='\t')
cov1

,Sample,Spike_median_coverage,Spike_min_coverage,Spike_max_coverage,RBD_median_coverage,RBD_min_coverage,RBD_max_coverage
0,07213092,2573.0,0,6015,2095.0,98,3993
1,07243129,902.0,0,5895,1262.0,0,2235
2,07243130,716.5,0,5983,1609.5,0,2387
3,07243131,2687.5,11,5888,1682.0,246,3040
4,07243132,2392.0,8,7733,2142.0,8,3866
...,...,...,...,...,...,...,...
763,U3222,3130.0,10,6223,1947.5,281,3871
764,U3223,2324.0,0,8313,3104.0,0,5017
765,U3224,3023.0,2,7127,2355.0,93,4679
766,U3225,3315.0,0,9117,3044.0,15,5404
767,U3226,3088.0,2,6726,2207.0,118,4295

In [154]:
cov=pd.concat([cov2,cov3])

In [155]:
cov_diff = cov2.merge(cov,left_on='Sample',right_on='Sample')
cov_diff

,Sample,Spike_median_coverage_x,Spike_min_coverage_x,Spike_max_coverage_x,RBD_median_coverage_x,RBD_min_coverage_x,RBD_max_coverage_x,Spike_median_coverage_y,Spike_min_coverage_y,Spike_max_coverage_y,RBD_median_coverage_y,RBD_min_coverage_y,RBD_max_coverage_y
0,7213092,4540,92,13747,7565.5,1384,13747,4540,92,13747,7565.5,1384,13747
1,7243129,880,1,11992,5996.5,1,11992,880,1,11992,5996.5,1,11992
2,7243130,441,0,12058,6029.5,1,12058,441,0,12058,6029.5,1,12058
3,7243131,7128,530,12016,6273.0,530,12016,7128,530,12016,6273.0,530,12016
4,7243132,5283,16,19312,9664.0,16,19312,5283,16,19312,9664.0,16,19312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,7293389,5222,233,9815,5024.0,233,9815,5222,233,9815,5024.0,233,9815
465,7293390,6135,1630,11955,6792.5,1630,11955,6135,1630,11955,6792.5,1630,11955
466,7293391,4838,1065,7664,4450.5,1237,7664,4838,1065,7664,4450.5,1237,7664
467,7293392,6623,1492,11267,6084.5,1492,10677,6623,1492,11267,6084.5,1492,10677
468,7303012,382,2,9914,4959.0,4,9914,382,2,9914,4959.0,4,9914

In [110]:
cov_diff['rbd'] = cov_diff.RBD_max_coverage_x - cov_diff.RBD_max_coverage_y + cov_diff.RBD_min_coverage_x - cov_diff.RBD_min_coverage_y + cov_diff.RBD_median_coverage_x - cov_diff.RBD_median_coverage_y

In [111]:
cov_diff['spike'] = cov_diff.Spike_max_coverage_x - cov_diff.Spike_max_coverage_y + cov_diff.Spike_min_coverage_x - cov_diff.Spike_min_coverage_y + cov_diff.Spike_median_coverage_x - cov_diff.Spike_median_coverage_y

In [112]:
cov_diff.rbd.mean()

0.0

In [113]:
cov_diff.spike.mean()

0.0

#### Checking on coverage of unassigned lineage (basespace)

In [21]:
i_qual=cov.merge(i,left_on='Sample',right_on='taxon',how='outer')
i_qual[i_qual.lineage=='None'][['taxon','Spike_min_coverage','RBD_min_coverage']]

                taxon  Spike_min_coverage  RBD_min_coverage
472  NTC-p2-7-26-2021                   0                 0
590             U3048                   0                 0
620             U3078                   0                 0
624             U3082                   0                 0
631             U3089                   0                 0
632             U3090                   0                 0
634             U3092                   0                 0
642             U3100                   0                 0
648             U3107                   0                 0
652             U3111                   0                 0
654             U3113                   0                 0
655             U3114                   0                 0
657             U3116                   0                 0
662             U3121                   0                 0
668             U3127                   0                 0

#### Checking on coverage of unassigned lineage (nfcore)

In [22]:
nf_qual=cov.merge(nf,left_on='Sample',right_on='taxon',how='outer')
nf_qual[nf_qual.lineage=='None'][['taxon','Spike_min_coverage','RBD_min_coverage']]

                            taxon  Spike_min_coverage  RBD_min_coverage
20                       07243148                 0.0               0.0
22                       07243150                 0.0               0.0
49                       07243179                 0.0               0.0
71                       07243204                 0.0               0.0
79                       07243214                 0.0               0.0
93                       07243232                 0.0               0.0
96                       07243235                 0.0               0.0
146                      07293001                 0.0               0.0
148                      07293003                 0.0               0.0
150                      07293005                 0.0               0.0
163                      07293084                 0.0               0.0
165                      07293086                 0.0               0.0
170                      07293091                 0.0               0.0
176                      07293097                 0.0               0.0
177                      07293098                 0.0               0.0
180                      07293101                 0.0               0.0
192                      07293113                 0.0               0.0
198                      07293119                 0.0               0.0
204                      07293125                 0.0               0.0
215                      07293137                 0.0               0.0
234                      07293156                 0.0               0.0
768              NTC_p1_7_26_2021                 NaN               NaN
769              NTC_p1_7_29_2021                 NaN               NaN
770              NTC_p2_7_26_2021                 NaN               NaN
774              NTC_p4_7_29_2021                 NaN               NaN
775          NTC_pMalta_7_29_2021                 NaN               NaN
777  PositiveControl_p1_7_29_2021                 NaN               NaN
780  PositiveControl_p3_7_26_2021                 NaN               NaN